[submodule "3rdparty/blobs"]
	path = 3rdparty/blobs
	url = git@github.com:coreboot/blobs.git
	update = none
	ignore = dirty
[submodule "util/nvidia-cbootimage"]
	path = util/nvidia/cbootimage
	url = git@github.com:coreboot/nvidia-cbootimage.git
[submodule "vboot"]
	path = 3rdparty/vboot
	url = git@github.com:coreboot/vboot.git
[submodule "arm-trusted-firmware"]
	path = 3rdparty/arm-trusted-firmware
	url = git@github.com:coreboot/arm-trusted-firmware.git
[submodule "3rdparty/chromeec"]
	path = 3rdparty/chromeec
	url = git@github.com:coreboot/chrome-ec.git
[submodule "libhwbase"]
	path = 3rdparty/libhwbase
	url = git@github.com:coreboot/libhwbase.git
[submodule "libgfxinit"]
	path = 3rdparty/libgfxinit
	url = git@github.com:coreboot/libgfxinit.git
[submodule "3rdparty/fsp"]
	path = 3rdparty/fsp
	url = git@github.com:coreboot/fsp.git
	update = none
	ignore = dirty
